cmake-build-*/
out/
build/

.idea/
.vscode/
*.swp
*.swo

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

assets/External/
assets/**/*.png
assets/**/*.jpg
assets/**/*.wav
assets/**/*.mp3
assets/**/*.ttf
assets/**/*.obj
assets/**/*.mtl

*.ilk
*.meta
*.pdb
*.exp
/assets/